@page "/Administration/Roles"
@rendermode InteractiveServer

@using AndreGoepel.Marten.Identity.Roles
@using AndreGoepel.MembersArea.Components.Administration.Dialogs
@using Microsoft.AspNetCore.Authorization
@using System.Security.Claims

@using AndreGoepel.Marten.Identity.Users
@using Microsoft.AspNetCore.Identity
@using Radzen
@using Radzen.Blazor

@inject RoleManager<Role> RoleManager
@inject UserManager<User> UserManager
@inject DialogService DialogService

@attribute [Authorize(Roles = "Administrator")]

<PageTitle>Roles</PageTitle>

<h1>Roles</h1>

<RadzenStack Gap="1rem">
    <RadzenStack Gap="1rem" AlignItems="AlignItems.Center" Orientation="Orientation.Horizontal">
        <RadzenButton Text="New role" Click=@NewRoleAsync />
        <RadzenStack Gap="0.5rem" AlignItems="AlignItems.Center" Orientation="Orientation.Horizontal">
            <RadzenCheckBox Name="ShowDeleted" @bind-Value=@ShowDeleted Change=@((bool value) => ShowDeletedChanged(value)) />
            <RadzenLabel Text="Show deleted" Component="ShowDeleted" />
        </RadzenStack>
    </RadzenStack>
    <RadzenRow RowGap="0.5rem">
        <RadzenDataGrid Data="@roles"
                        AllowFiltering="true"
                        AllowColumnResize="true"
                        AllowAlternatingRows="false"
                        FilterMode="FilterMode.Advanced"
                        AllowSorting="true"
                        PageSize="5"
                        AllowPaging="true"
                        PagerHorizontalAlign="HorizontalAlign.Left"
                        ShowPagingSummary="true"
                        LogicalFilterOperator="LogicalFilterOperator.Or"
                        SelectionMode="DataGridSelectionMode.Single"
                        @bind-Value="@selectedRoles">
            <Columns>
                <RadzenDataGridColumn Property="@nameof(Role.Id)" Title="Id" Sortable="false" Filterable="false" />
                <RadzenDataGridColumn Property="@nameof(Role.Name)" Title="Name" />
                <RadzenDataGridColumn Property="@nameof(Role.CreatedAt)" FormatString="{0:d} {0:t}" Title="Created at" />
                <RadzenDataGridColumn Property="@nameof(Role.ChangedAt)" FormatString="{0:d} {0:t}" Title="Changed at" />
                <RadzenDataGridColumn Property="@nameof(Role.Deleted)" Title="Deleted" />
                <RadzenDataGridColumn Title="Actions" Sortable="false" Filterable="false">
                    <Template Context="data">
                        <RadzenStack Orientation="Orientation.Horizontal" Gap="1em">
                        @if (!data.Deleted)
                        {
                            <RadzenButton Text="Users" Click="@(() => ShowUsers(data))" />
                        }

                        @if (data.Deletable && !data.Deleted)
                        {
                            <RadzenButton Text="Delete" Click="@(() => DeleteRole(data))" />
                        }
                        </RadzenStack>
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>
    </RadzenRow>
</RadzenStack>

@code {
    private IQueryable<Role> roles = default!;
    private IList<Role> selectedRoles = [];

    private bool ShowDeleted { get; set; }

    private async Task ShowUsers(Role role)
    {
        if (string.IsNullOrWhiteSpace(role.Name))
            return;

        await DialogService.OpenAsync<RoleUserDialog>("Edit Role Users", new Dictionary<string, object>() { { "RoleId", role.Id } });
    }

    private async Task DeleteRole(Role role)
    {
        if (await DialogService.Confirm("Are you sure you want to delete this role?", "Delete Role") == true)
        { 
            var deleteResult = await RoleManager.DeleteAsync(role);
            if (deleteResult.Succeeded)
                LoadRoles();
            else
                await DialogService.Alert("Role could not be deleted", "Error");
        }
    }

    private void ShowDeletedChanged(bool _) => LoadRoles();

    private void LoadRoles()
    {
        if (ShowDeleted)
            roles = RoleManager.Roles;
        else
            roles = RoleManager.Roles.Where(user => !user.Deleted);
    }

    private async Task NewRoleAsync()
    {
        await DialogService.OpenAsync<NewRole>("New role");
        LoadRoles();
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        
        LoadRoles();
    }
}