@implements IDisposable
@inherits AndreGoepel.AppFoundation.Components.LocalizedComponentBase

@using AndreGoepel.Marten.Identity
@using AndreGoepel.Marten.Identity.Blazor
@using AndreGoepel.Marten.Identity.Blazor.Features
@using global::Marten

@inject IQuerySession QuerySession
@inject IIdentityFeatureProvider Features
@inject NavigationManager NavigationManager
@inject Microsoft.Extensions.Options.IOptions<AppFoundationLayoutOptions> LayoutOptions

@if (SetupComplete)
{
    <NavLink class="ag-nav-item ag-home" href="@Layout.HomeUrl" Match="NavLinkMatch.All">⌂&nbsp;&nbsp;@T("Nav.Home")</NavLink>

    @* Host-contributed entries. Contributed menus should render ag-nav-item /
       ag-nav-section markup to match the design shell. *@
    @if (Layout.Menu is not null)
    {
        <DynamicComponent Type="Layout.Menu" />
    }

    <AuthorizeView>
        <Authorized>
            <div class="ag-nav-section">@T("Nav.AccountSection")</div>
            <div class="ag-nav-group">
                <NavLink class="ag-nav-item" href="Account/Manage/Profile">@T("Nav.Profile")</NavLink>
                <NavLink class="ag-nav-item" href="Account/Manage/Email">@T("Nav.Email")</NavLink>
                <NavLink class="ag-nav-item" href="Account/Manage/ChangePassword">@T("Nav.Password")</NavLink>
                @if (twoFactorEnabled)
                {
                    <NavLink class="ag-nav-item" href="Account/Manage/TwoFactorAuthentication">@T("Nav.TwoFactorAuth")</NavLink>
                }
                @if (passkeyEnabled)
                {
                    <NavLink class="ag-nav-item" href="Account/Manage/Passkeys">@T("Nav.Passkeys")</NavLink>
                }
                <NavLink class="ag-nav-item" href="Account/Manage/PersonalData">@T("Nav.PersonalData")</NavLink>
            </div>
        </Authorized>
    </AuthorizeView>

    <AuthorizeView Roles="Administrator">
        <Authorized>
            <div class="ag-nav-section">@T("Nav.AdministrationSection")</div>
            <div class="ag-nav-group">
                <NavLink class="ag-nav-item" href="Administration/UserCleanup">@T("Nav.UserCleanup")</NavLink>
                <NavLink class="ag-nav-item" href="Administration/Users">@T("Nav.Users")</NavLink>
                <NavLink class="ag-nav-item" href="Administration/Roles">@T("Nav.Roles")</NavLink>
                <NavLink class="ag-nav-item" href="Administration/LoginFeatures">@T("Nav.LoginFeatures")</NavLink>
                <NavLink class="ag-nav-item" href="Administration/EmailSettings">@T("Nav.EmailSettings")</NavLink>
            </div>
        </Authorized>
    </AuthorizeView>
}
else
{
    <NavLink class="ag-nav-item ag-home" href="Setup" Match="NavLinkMatch.All">@T("Nav.Setup")</NavLink>
}

@code {
    private bool SetupComplete;
    private bool twoFactorEnabled = true;
    private bool passkeyEnabled = true;

    private AppFoundationLayoutOptions Layout => LayoutOptions.Value;

    protected override async Task OnInitializedAsync()
    {
        SetupComplete = await SetupCompletion.IsCompleteAsync(QuerySession);

        var features = await Features.GetAsync();
        twoFactorEnabled = features.IsEnabled(IdentityFeature.TwoFactor);
        passkeyEnabled = features.IsEnabled(IdentityFeature.Passkey);
    }

    protected override void OnInitialized()
    {
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e) =>
        StateHasChanged();

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}
