@inherits AndreGoepel.AppFoundation.Components.LocalizedComponentBase

<script type="module" src="@Assets["Components/Layout/ReconnectModal.razor.js"]"></script>

<dialog id="components-reconnect-modal" data-nosnippet>
    <div class="components-reconnect-container">
        <div class="components-rejoining-animation" aria-hidden="true">
            <div></div>
            <div></div>
        </div>
        <p class="components-reconnect-first-attempt-visible">
            @T("Reconnect.Rejoining")
        </p>
        <p class="components-reconnect-repeated-attempt-visible">
            @T("Reconnect.RejoinFailedPrefix") <span id="components-seconds-to-next-attempt"></span> @T("Reconnect.RejoinFailedSuffix")
        </p>
        <p class="components-reconnect-failed-visible">
            @T("Reconnect.FailedLine1")<br />@T("Reconnect.FailedLine2")
        </p>
        <button id="components-reconnect-button" class="components-reconnect-failed-visible">
            @T("Reconnect.Retry")
        </button>
        <p class="components-pause-visible">
            @T("Reconnect.Paused")
        </p>
        <button id="components-resume-button" class="components-pause-visible">
            @T("Reconnect.Resume")
        </button>
        <p class="components-resume-failed-visible">
            @T("Reconnect.ResumeFailedLine1")<br />@T("Reconnect.ResumeFailedLine2")
        </p>
    </div>
</dialog>
